.Dashboard main {
  margin: 2em auto;
  max-width: min(62em, calc(100vw - 1em));
  padding: 0 2em;
}

.Dashboard h1 {
  margin-bottom: 2rem;
}

.Dashboard h2 {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.Dashboard .welcome {
  font-size: 1.2em;
  line-height: 1.6;
}

.Dashboard .search-bar select,
.Dashboard .search-bar input {
  font-size: 1.1em;
}

.Dashboard .weather-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2em;
  line-height: 1.2;
}

.Dashboard .weather-icon {
  width: 30px;
  height: 30px;
}

.Dashboard .search-bar {
  margin-top: 1em;
}

.Dashboard ul.water-today {
  /* max-width: 90%; */
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
  gap: 2em;
  overflow-x: scroll;
  overflow-y: hidden;
}

.Dashboard ul.water-today.both-available {
  background: linear-gradient(to right, #888, white 3%, white 97%, #888 100%);
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.Dashboard ul.water-today.right-available {
  background: linear-gradient(to right, white, white 97%, #888 100%);
  border-right: 2px solid black;
}

.Dashboard ul.water-today.left-available {
  background: linear-gradient(to right, #888, white 3%, white 100%);
  border-left: 2px solid black;
}

.Dashboard ul.water-today li {
  display: grid;
  grid-template-columns: 8em;
  grid-template-rows: auto auto;
  text-align: center;
}

.Dashboard ul.water-today li img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.Dashboard .plant-details {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.Dashboard .plant-image {
  width: 100%;      /* fixed width */
  aspect-ratio: 1;
  object-fit: cover; /* crop/scale image to fill without distortion */
  border-radius: 8px; /* optional: rounded corners for a nice look */
  display: block;    /* ensure no inline spacing issues */
}

.Dashboard .plant-gallery {
  margin-top: 3em;
  /* max-width: 60em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8em, 10em));
  gap: 2em;
}

.Dashboard .garden-icon {
  max-width: 50px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(2px 2px 4px rgba(0, 100, 0, 0.4));
  cursor: pointer;
}

/* Hover effect for interaction */
.Dashboard .garden-icon:hover {
  transform: scale(1.1) rotate(-2deg);
  filter: drop-shadow(3px 3px 6px rgba(0, 128, 0, 0.6));
}