.LoginPage.page {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.LoginPage main > div {
    display: flex;
    justify-content: center;
}

.LoginPage svg {
    fill: rgb(36, 133, 36);
}

.LoginPage main a {
    color: rgb(36, 133, 36);
}

.LoginPage input[type="submit"] {
    background-color: rgb(36, 133, 36);
    color: white;
}

.LoginPage .white-bg {
    background-color: rgba(265, 265, 265, 0.3);
    padding: 2em;
    border-radius: 1em;
}

.LoginPage .login-or-create > span {
    display: block;
}

.LoginPage input[type="email"] {
    /* border-color: black;
    border-width: 3px; */
    font-size: 1em;
}

.LoginPage input[type="email"]:placeholder-shown {
    font-style: italic;
}

.LoginPage main {
    text-align: center;
    line-height: 1.5;
}

.LoginPage .fields {
    margin: 1.5em;
    display: flex;
    gap: 0.5em;
    justify-content: center;
}
