.nav {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: auto;
  padding-right: 0;   /* no padding pushing from right */
  box-sizing: border-box;
}

.nav-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 2rem;
  row-gap: 0.8rem;
  background-color: rgb(60, 194, 60);
  border-radius: 0 0 0 12px; /* round only left corners */
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  padding: 0.5rem 2rem;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  min-height: 2em;
  min-width: 200px;    /* enough width for text */
  margin-right: 0;     /* no margin on right */
  align-self: center;
}

/* Links styling */
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.nav-link:hover {
  color: black;
}
