.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 2rem;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(1rem + 2vmin);
  color: white;
} */
